<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OKProfile</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/experience.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fallingStar.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">OREINZ.</a>
                </li>
                <li class="hideOnMobile">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                </li>
                <li class="hideOnMobile">
                    <a class="" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
                </li>
                <li class="hideOnMobile">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Projects">PROJECTS</a>
                </li>
                <li class="hideOnMobile">
                    <a class="hideOnMobile" asp-area="" asp-controller="Home" asp-action="Experience">EXPERIENCES</a>
                </li>
                <li class="hideOnMobile">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a>
                </li>
                <li class="menu-button" onclick=showSidebar()>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg></a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="sidebar">

                <li onclick=hideSidebar()>
                    <a href=""><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg></a>
                </li>
                <li>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                </li>
                <li class="">
                    <a class="" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
                </li>
                <li class="">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Projects">PROJECTS</a>
                </li>
                <li class="">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Experience">EXPERIENCES</a>
                </li>
                <li class="">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        
    </header>
    <div class="container">
        <div class="background">
            <div class="star"></div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-info">
            <h1>Get In Touch</h1>
            <p><strong>Email:</strong> oreinzkasilag@gmail.com</p>
            <p><strong>Mobile no.:</strong> +971 56 436 1352</p>
            <p>Copyright 2024 Oreinz Kasilag All Reserve Rights </p>
        </div>
        <div class="footer-cards">
            <!--
            <div class="card">
                <i class="fa-brands fa-facebook"></i>
            </div>
            -->
            <div class="card">
                <a href="https://www.linkedin.com/in/oreinz-kasilag-822a45312" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>

        </div>
    </footer>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/fallingStars.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
