@{
    ViewData["Title"] = "About";
}

<div class="about-section">
    <div class="about-section-title">
        <h1>About Me!</h1>
    </div>
    <div class="about-section-detail">
        <p>
            A skilled IT graduate with 4 years of combined expertise in Web Development and
            administration, I am eager to bring my foundational administrative experience to
            innovative projects in a dynamic work environment. I am dedicated to continuously
            enhancing my technical skills and thriving on new challenges. Excited about the
            opportunity to join your team and contribute towards achieving your goals.
        </p>
    </div>
</div>