@{
    ViewData["Title"] = "Contact";
}
<div class="contact-page">
    <section class="contact"> 
        <div class="contact-container">
            <h2> Contact me!</h2>
            <div class="contact-wrapper">
                <div class="contact-form">
                    <h3> Send me a message</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                        <div class="contact-btn-container">
                            <button class="contact-btn" type="submit"> Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="contact-info">
                    <h3>Contact Information</h3>
                    <p><i class="fas fa-phone"></i>+971 56 436 1352</p>
                    <p><i class="fas fa-envelope"></i>oreinzkasilag@gmail.com</p>
                    <p><i class="fas fa-map-marker-alt"></i>Abu Dhabi UAE, Navy Gate</p>
                </div>
            </div> 
        </div>
    </section>
</div>
