@{
    ViewData["Title"] = "Home Page";
}

<div class="home_page">
    <div class="profile-pic">
        <img width="300" src="lib/profile.png" alt="Alternate Text" />
    </div>
    <div class="intro">
        <div>
            <h1>Hi! I AM OREINZ<span class="line">|</span></h1>
        </div>
        <div class="intro-paragraph">
            <h3> I am Fullstacked Rookie Developer who is seeking some experience<span class="line">|</span></h3>
        </div>
        <div class="intro-btn">

            <a class="" asp-area="" asp-controller="Home" asp-action="Projects"><button>See my work</button></a>
            <a class="" asp-area="" asp-controller="Output" asp-action="DownloadFile"><button>Download CV</button></a>
        </div>
        <div class="program-logo">
            <img src="~/lib/logo1.png" />
            <img src="~/lib/logo2.png" />
            <img src="~/lib/logo3.png" />
            <img src="~/lib/php.png" />
            <img src="~/lib/python.png" />
            <img src="~/lib/logo4.png" />
            <img src="~/lib/logo5.png" />
            <img src="~/lib/logo6.png" />

        </div>
    </div>
</div>

