@{
    ViewData["Title"] = "Work";
}
<div class="proj-wrapper">
    <div class="proj-card">
        <img src ="~/lib/1.png">
        <div class="proj-info">
            <h1>Contract Application</h1>
            <p>
                WPF Application with MVVM template.
                Utilize C# .Net Core 8
            </p>
            <a href="https://github.com/zniero1324/ContractApp/tree/main/ContractApp" class="btn" target="_blank">Go To Files</a>
        </div>
    </div>
    <div class="proj-card">
        <img src="~/lib/2.jpg">
        <div class="proj-info">
            <h1>Front-end Design</h1>
            <p>
                Front-end Design featuring the coffee during my University.
                Utilize HTML/CSS
            </p>
            <a href="https://github.com/zniero1324/Coffee-Website" class="btn" target="_blank">Go To Files</a>
        </div>
    </div>
    <div class="proj-card">
        <img src="~/lib/3.png">
        <div class="proj-info">
            <h1>Inventory System</h1>
            <p>
                University Thesis making a company System for better efficiency.
                Utilizes HTML/CSS Javascript PHP and MySQL
            </p>
            <a href="" class="btn" target="_blank">Go to Files</a>
        </div>
    </div>
    <div class="proj-card">
        <img src="~/lib/3.png">
        <div class="proj-info">
            <h1>KTM Spare Parts Inventory System</h1>
            <p>
                Inventory System for my uncle business KTM SpareParts, simple implementation of CRUD.
                Utilizes HTML/CSS Javascript PHP and MySQL, Hosted in Hostinger.
            </p>
            <a href="https://github.com/zniero1324/InventorySystem" class="btn" target="_blank">Go to Files</a>
        </div>
    </div>
    <div class="proj-card">
        <div class="proj-info">
            <h1>
                Programming-Assignment-2-Cardiovascular-Examination
            </h1>
            <p>
                University Final Assement on Python Programming. 
                Develops Program that help Analyze Data.
            </p>
            <a href="https://github.com/zniero1324/Programming-Assignment-2-Cardiovascular-Examination" class="btn" target="_blank">Go to Files</a>
        </div>
    </div>
    <div class="proj-card">
        <div class="proj-info">
            <h1>
                Sameas Game I made using React
            </h1>
            <p>
                Game Creation using React and JavaScript.
            </p>
            <a href="https://github.com/TinaZ9/sameas-project" class="btn" target="_blank">Go to Files</a>
        </div>
    </div>
</div>