*{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    font-size:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction:column;
}

.background{
    height:100%;
    max-width:100vw;
    z-index:-9999;
    position:fixed;
}

nav{
    background-color:#ffffff;
    box-shadow:3px 3px 5px rgb(0, 0, 0, 0.1);
}

nav ul{
    width:100%;
    list-style:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

nav li{
    height:50px;
}

nav a{
    height:100%;
    padding: 0 30px;
    text-decoration:none;
    display:flex;
    align-items: center;
    color:rgb(0, 0, 0);
}

nav a:hover{
    background-color:#f0f0f0;
}

nav li:first-child{
    margin-right:auto;
}

.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color:#ffffff;
    box-shadow:-10px 0 10px rgb(0, 0, 0, 0.1);
    display:none;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
}



.sidebar li{
    width:100%;
}

.sidebar a{
    width:100%;
}


.menu-button{
    display:none;
}

@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }

    .menu-button{
        display:block;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100%;
    }
}



.home_page {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-items:center;

    border-bottom: 1px solid transparent;
}

.line{
    animation-name:blink;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
}

@keyframes blink{
    0%{
        color:#fff;
    }
}

.profile-pic{
      margin:1rem 0;
      display:flex;
      justify-content:center;
      background-color:#FFFF00;


      border:5px groove rgb(0, 0, 0);
      border-radius:20px;
}

.profile-pic img{
    object-fit:contain;
}

.intro {
    margin: 2rem;
    padding: 1rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
    border-radius: 40px 0px;
}


.intro-paragraph {
    margin-top: 2rem;
    font-size: 1.5rem;
}
/*----------------- intro button --------------------*/
.intro button {
    padding: 2rem;
    appearance: button;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .intro a{
        border: none;
        text-align: center;
        text-decoration: none;
        color:#fff;
    }

    .intro button:not(:focus-visible),
    .intro button:focus {
        outline: 0;
    }

    .intro a :hover, 
    .intro a button:hover{
        background-color: #ffffff;
        box-shadow:0px 3px 12px 0px #ccc;
        border: 1px solid transparent;
        color: #000;
    }

    .intro button:focus {
        background-color: #757500;
        border-color: #757500;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
        color: #000;
    }


.intro-btn{
    margin:4rem 0;
    display:flex;
}


.intro-btn button{
    margin:0 1rem;
}


.program-logo img
{
    padding:1.5rem;
    width:4rem;
}
/*------------------Web Footer*/
footer {
    margin-top: auto;
    background: #FFFF00;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


    footer .footer-info {
        margin:1.5rem;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

    footer .footer-info .logo{
        margin:1rem;
    }
        footer .footer-info .logo img{
            padding:0.5rem;
        }

    

    footer img {
        width: 25px;
    }

    footer .footer-cards{
        margin:1rem;
        display:flex;
        justify-content:center;
       
        flex-wrap:wrap;
    }

    footer .card {
        border:3px solid #000;
        margin: 1rem;
        height: 180px;
        width: 180px;
        flex-grow: 1;
        border-radius: 2rem 0;
        box-shadow: 0px 0px 0px rgb(0, 0, 0);
        background: #fff;
        display:flex;
        justify-content:center;
        align-content:center;
        transition:0.5s ease linear ;
    }

    footer .card i{
        height:100%;
        width:100%;
        padding:1rem;
        font-size:10rem;
        text-align:center;

    }
    footer .card:hover{
        box-shadow: 3px 3px 0px rgb(0, 0, 0);
    }


    .footer-info p{
        margin:0.5rem 0px;
    }